# IntelliJ
.idea/
*.iml

# Maven
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
*.env
*.json

# EXCEPT important JSON if needed (optional)
!package.json

# Firebase / Google credentials
serviceAccountKey.json
src/main/resources/serviceAccountKey.json